.app_dark_theme {
    --bg-color: #2e2e2e;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #fbf4f4;
    --secondary-color: #fbf4f4;
    --inverted-primary-color: #2e2e2e;
    --inverted-secondary-color: #2e2e2e;
}
