.app_dark_theme {
    --bg-color: #2e2e2e;
    --inverted-bg-color: #141414;
    --primary-color: #fbf4f4;
    --secondary-color: #fbf4f4;
    --inverted-primary-color: #2e2e2e;
    --inverted-secondary-color: #2e2e2e;
    --skeleton-color: #141414;
    --skeleton-shadow: #141414;
    --code-bg: #1f1f1f;
}
