:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #a8d8ff;
    --primary-color: #2e2e2e;
    --secondary-color: #2e2e2e;
    --inverted-primary-color: #fbf4f4;
    --inverted-secondary-color: #fbf4f4;
    --skeleton-color: #fbf4f4;
    --skeleton-shadow: #fbf4f4;
    --code-bg: #fff;
}
