.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #b4633a;
    --primary-color: #963931;
    --secondary-color: #963931;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
    --skeleton-color: #e8e8ea;
    --skeleton-shadow: #e8e8ea;
    --code-bg: #fff;

}
